<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyniki wyszukiwania</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <h1>Wyniki wyszukiwania</h1>

    <form action="{{ url_for('search') }}" method="POST">
        <input type="text" name="searchWord" placeholder="Wpisz zapytanie" required>
        <button type="submit">Szukaj</button>
    </form>

    {% if articles %}
        <h2>Top Artykuły:</h2>
        <table>
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Opis</th>
                    <th>Data publikacji</th>
                    <th>Język</th>
                    <th>Levenshtein</th>
                    <th>Jaccard</th>
                    <th>TF-IDF</th>
                    <th>Cosine</th> 
                    <th>Końcowy wynik</th>
                    <th>Sentiment</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></td>
                        <td>{{ article.description[:100] }}...</td>
                        <td>{{ article.publishedAt }}</td>
                        <td>{{ article.language }}</td>
                        <td>{{ article.levenshtein }}</td>
                        <td>{{ article.jaccard }}</td>
                        <td>{{ article.tfidf }}</td>
                        <td>{{ article.cosine }}</td>
                        <td>{{ article.final_score }}</td>
                        <td>{{ article.sentiment }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if query_metrics %}
        <h2>Jakość wyszukiwania:</h2>
        <table border="1">
            <tr>
                <th>Precision</th>
                <th>Recall</th>
                <th>F1-score</th>
            </tr>
            <tr>
                <td>{{ query_metrics.Precision }}</td>
                <td>{{ query_metrics.Recall }}</td>
                <td>{{ query_metrics['F1-score'] }}</td>
            </tr>
        </table>
        {% endif %}
    
        <h2>Chmura słów:</h2>
        <img src="data:image/png;base64,{{ wordcloud_image }}" alt="Chmura słów">

        <h2>Histogram częstotliwości słów:</h2>
        <img src="data:image/png;base64,{{ word_histogram_image }}" alt="Histogram słów">
    
    {% else %}
        <p>Brak wyników dla tego zapytania.</p>
    {% endif %}
</body>
</html>
