<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyszukiwanie Artykułów</title>
</head>
<body>
    <h1>Wyszukaj artykuł</h1>

    <form action="{{ url_for('search') }}" method="POST">
        <label for="searchWord">Wprowadź słowo kluczowe:</label>
        <input type="text" id="searchWord" name="searchWord" required>
        <button type="submit">Szukaj</button>
    </form>

    {% if articles %} 
        <h2>Wyniki wyszukiwania:</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ article.url }}">{{ article.title }}</a><br>
                    <p>{{ article.description[:300] }}...</p>
                    
                    <td>{{ article.sentiment }}</td><br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak wyników dla tego zapytania.</p>
    {% endif %}
</body>
</html>
