<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyszukiwanie Artykułów</title>
</head>
<body>
    <h1>Wyszukaj artykuł</h1>
    <button class="baysB" onclick="window.location.href='/bayes_classifier'">Bayes Classifier</button>

    <!-- Formularz do wprowadzenia zapytania -->
    <form action="/searchPlus" method="POST">
        <label for="searchWord">Wprowadź słowo kluczowe:</label>
        <input type="text" id="searchWord" name="searchWord" required>
        <button type="submit">Szukaj</button>
    </form>

    {% if articles %}
        <h2>Wyniki wyszukiwania:</h2>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ article.url }}">{{ article.title }}</a><br>
                    <p>{{ article.description[:300] }}...</p> <!-- Skrócona treść -->
                    
                    <!-- Sprawdzamy, czy artykuł ma przewidywaną kategorię -->
                    {% if article.predicted_category %}
                        <strong>Przewidywana kategoria:</strong> {{ article.predicted_category }}<br>
                    {% else %}
                        <strong>Przewidywana kategoria:</strong> Nieznana<br>
                    {% endif %}
                    
                    <br>
                </li>
            {% endfor %}
        </ul>

        <!-- Wyświetlanie dokładności modelu -->
        <h3>Dokładność modelu:</h3>
        <p>{{ accuracy }}</p>  <!-- Zmienna dokładności modelu -->

        <!-- Raport klasyfikacji -->
        <h3>Raport klasyfikacji:</h3>
        <pre>{{ classification_report }}</pre>  <!-- Zmienna raportu w formacie tekstowym -->

    {% else %}
        <p>Brak wyników dla tego zapytania.</p>
    {% endif %}
</body>
</html>
